<!--The content below is only a placeholder and can be replaced.-->

<div class="container" style="text-align:center;">
  <div>
      <a [routerLink]="['/vehicles']" class="btn btn-primary">Vehicles</a>
      <a [routerLink]="['/alerts']" class="btn btn-primary">Alerts By priority</a>
      <a [routerLink]="['/alertplot']"  class="btn btn-primary">Vehicles History</a>
      <a [routerLink]="['/alertbytime']"  class="btn btn-primary">LatestHighAlerts</a>
      <a [routerLink]="['/locmaps']" class="btn btn-primary">LocationTrack</a>
  </div>
   
    <router-outlet></router-outlet>
    <hr>
  </div>
